<div class="col-md-6">
    <h2 class="text-center">update Employee</h2>
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="name" [(ngModel)]="user.empName" placeholder="Name" name="name" class="form-control" id="name">
      </div>
    
      <div class="form-group">
        <label for="salary">Salary:</label>
        <input [(ngModel)]="user.empSal" placeholder="Salary" name="salary" class="form-control" id="salary">
      </div>
    
      <div class="form-group">
        <label for="id">Employee Id</label>
        <input [(ngModel)]="user.empId" placeholder="Employee Id" name="Employee Id" class="form-control" id="employeeid">
      </div>
    
      <button class="btn btn-success" (click)="updateEmployee()">update</button>
    </form>
    </div>